* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'POPPINS';
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: regular;
}

img {
    object-fit: fill;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}


#millones {
    font-size: 45pt;
    font-family: 'POPPINS';
    color: #fff;
    left: 52%;
    top: 80%;
    right: 2%;
    position: absolute;
    letter-spacing: 3px;
}

#cuotas {
    font-size: 91pt;
    font-family: 'POPPINS';
    color: #000;
    left: 55%;
    top: 60%;
    right: 2%;
    position: absolute;
    letter-spacing: 0px;
}


/* 768*320 */
@media only screen and (max-width: 768px) {

    #millones {
        font-size: 10pt !important;
        font-family: 'POPPINS';
        color: #fff;
        left: 57%;
        top: 81%;
        position: absolute;
        font-weight: 700;
        letter-spacing: 0px;
    }

    #millones2 {
        font-size: 10pt !important;
        font-family: 'POPPINS';
        color: #fff;
        left: 84%;
        top: 81%;
        right: 8%;
        position: absolute;
        letter-spacing: 0px;
        width: 106px;
        font-weight: 700;
        text-align: center;
    }

    #millones3 {
        font-size: 10pt !important;
        font-family: 'POPPINS';
        color: #fff;
        left: 68%;
        top: 81%;
        right: 8%;
        position: absolute;
        letter-spacing: 0px;
        width: 106px;
        font-weight: 700;
        text-align: center;
    }

    #cuotas {
        font-size: 32pt;
        font-family: 'POPPINS';
        color: #000;
        left: 54%;
        top: 78%;
        position: absolute;
        font-weight: 700;
        letter-spacing: 0px;
    }

    #cuotas2 {
        font-size: 32pt;
        font-family: 'POPPINS';
        color: #000;
        left: 70%;
        top: 78%;
        position: absolute;
        font-weight: 700;
        letter-spacing: 0px;
    }

    #cuotas3 {
        font-size: 32pt;
        font-family: 'POPPINS';
        color: #000;
        left: 85%;
        top: 78%;
        position: absolute;
        font-weight: 700;
        letter-spacing: 0px;    
    }
}